* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgba(211, 207, 201, 1); */
  /* background-color: rgba(25, 26, 27, 1); */
}

body {
  background: rgb(25, 26, 27);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 5%
  );
  height: 100vh;
  width: 100vw;
}

.app {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  position: absolute;
  color: rgba(211, 207, 201, 1);
  /* background-color: rgba(25, 26, 27, 1); */
}

.logo,
.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-size: 10vmin;
}

.content {
  font-size: 5vmin;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.btn {
  min-width: 0;
  background-color: rgba(211, 207, 201, 1);
  color: rgba(25, 26, 27, 1);
  margin: 3vmin;
  box-sizing: initial;
  padding: 2vmin;
  border-radius: 24px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: rgba(182, 175, 165, 1);
}

.btn:active {
  background-color: rgba(154, 145, 132, 1) !important;
}
